<body onLoad="init()">
<a href="http://www.oneearthpeople.com/Graham/">Back to G-Team</a><div id="status">Start drawing!!</div>
<a id="pid"><%= params[:id] %></a>
<canvas width="1024px" height="1024px" style="background-image:url(<%= asset_path 'tile' + params[:id] + '.png' %>)" id="canvas" onMouseDown="mouseDown()" onMouseMove="mouseMove()" onMouseUp="mouseUp()"></canvas>
<div id="overlay"></div>
</body>